.linkClass{
    color:#1890ff;
    cursor: pointer;
    user-select:none;
}
.gettingLive{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    transition-duration: 0.3s;
    background-color: #00000055;
    opacity: 0;
    z-index: -1;
  }
  .gettingLive.isGetting{
    opacity: 100%;
    z-index: 100;
  }
  .gettingLive.isGetting:hover{
    background-color: #00000055;
  }