body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffd6e7;
  width: 144px;
  user-select: none;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.App div{
  box-sizing: border-box;
  padding: 8px;
  font-size: 16px;
  display: flex;
}
.toolIcon{
  width: 20px;
  height: 20px;
}
.toolSelection{
  margin: 4px;
  position: relative;
  bottom: 6px;
}
.App div:hover{
  background-color: #00000011;
}
.App div *:first-child{
  display: block;
  width: 20px;
  height: 20px;
  margin: auto 8px auto;
}
.App div:first-child{
  position:relative;
  height: 30px;
} 
.App div:first-child img{
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left:0 ;
} 
.App div:last-child.retry span{
  font-size: 12px;
}
.gettingLive{
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0;
  left:0;
  transition-duration: 0.3s;
  background-color: #00000055;
  opacity: 0;
  z-index: -1;
}
.gettingLive.isGetting{
  opacity: 100%;
  z-index: 100;
}
.gettingLive.isGetting:hover{
  background-color: #00000055;
}