.searchBoxContainer {
    height: 72px;
    background-color: rgba(var(--fan),0.207);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchBoxSearchBar {
    height: 48px;
    width: 100%;
    padding: 0 12px 0 48px;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    position:relative;
}
.searchBoxSearchBar.autoComplete{
    border-radius: 4px 4px 0 0;
}
.searchBoxAutoCompleteDiv{
    border-radius: 0 0 4px 4px;
    position:absolute;
    width: 100%;
    top:48px;
    background-color: #fff;
}

.searchBoxIconContainer {
    position: relative;
    width: 40%;
}

.searchBoxIcon {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 1;
}

.searchBoxDivIcon {
    display: flex;
    border-radius: 4px;
    background-color: #1890ff;
    color: #ffffef;
    font-size: 1.3em;
    font-weight: 600;
}

.searchBoxNavigationBar {
    display: flex;
    margin: 4px;
    justify-content: center;
}
.searchBoxNavigationBarContainer{
    margin: 12px;
} 