.myButtonForDiana{
    margin: 12px;
    border-color: rgb(var(--ui-9));
    border-width: 1px;
    border-radius: 2px;
    border-style: solid;
    padding: 4px 12px;
    background: rgb(var(--ui-1));
    outline: 0;
    box-shadow: none;
    cursor: pointer;
    color: rgb(var(--ui-9));
}