.myInputForDianaContainer {
    margin: 12px;
    text-align: left;
    font-size: 1.25em;
}

.myCheckBoxForDiana {
    width: 20px;
    height: 20px;
    margin: 0;
    vertical-align: bottom;
}

.myInputForDiana {
    border-color: rgba(var(--ui-10), 0.398);
    border-radius: 4px;
    border-width: 1px;
    display: block;
    margin-top: 12px;
    height: 24px;
    width: 100%;
}

.myInputForDianaContainer input:focus-visible {
    outline-color: var(--fan);
}