.searchBoxNavigationItem{
    border-radius: 12px;
    display: flex;
    height: 24px;
    background: #9e106899;
    color: #fff;
    padding: 0 12px 0 0;
    margin: 4px;
}
.searchBoxNavigationInnerIcon {
    border-radius: 10px;
    margin: 2px;
    width: 20px;
    padding: 0;
    background: #fff0f6;
    color: #000;
    font-weight: 600;
    display: flex;
    overflow: hidden;
}
.searchBoxNavigationFavicon{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.searchBoxNavigationInnerIcon div{
    margin:auto;
}
.searchBoxNavigationInnerItem {
    margin: auto;
}
.searchBoxNavigationAnchor{
    text-decoration: none;
}