.toolBoxContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    z-index: 10000;
    backdrop-filter: blur(2px);
}

.toolBoxMaskLayer {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(var(--ui-1));
    opacity: 40%;
    z-index: -1;
    width: 100%;
    height: 100%;
}

.toolBoxItself {
    margin: 32px auto;
    width: 80vw;
    height: 80vh;
    background-color: rgb(var(--ui-1));
    border-radius: 16px;
    box-shadow: 0 3px 6px -4px rgba(var(--fan), 0.121), 0 6px 16px rgba(var(--fan), 0.078), 0 9px 28px 8px rgba(var(--fan), 0.050);
    padding: 16px;
    box-sizing: border-box;
    overflow-y: auto;
}

.toolBoxHeaderDiv {
    text-align: left;
    font-size: 2em;
    margin: 16px;
    border-bottom: solid 1px rgba(var(--ui-10),0.332);
    display: flex;
}