.dianaNoticeContainer{
    width:420px;
    position:fixed;
    bottom:0;
    right:0;
    min-height: 132px;
    border-radius: 4px;
    backdrop-filter:blur(2px);
    box-sizing: content-box;
    z-index: 9999;
    overflow: hidden;
}
.dianaQuoteBackground{
    background-color: #e799b0;
    padding: 16px 24px 0 150px;
    box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
    animation: dianaQuoteShowing 1.5s;
    min-height: 132px;
}
.dianaQuote {
    display: block;
    color: #fff;
    font-weight: 600;
    word-wrap: break-word;
}

.dianaMemeImage {
    display: block;
    width: 240px;
    height: 240px;
    background: url(https://raw.githubusercontent.com/b9891796435/duskmoon-bot-doc/main/src/assets/dianaJumping.png) 0 0 no-repeat;
    position:absolute;
    bottom: -60px;
    left: -44px;
    transform: scale(0.5);
    z-index: 2;
}
.dianaMemeImageAppearing{
    animation: appearingDiana steps(16) 2s both;
}
.dianaMemeImageBlinking{
    animation:shiningDiana steps(5) 0.5s infinite both;
}
.dianaGoBack{
    position:absolute;
    top:8px;
    right:12px;
    font-size: 1.25em;
    color: white;
    cursor: pointer;
}
.dianaNoticeRemove{
    animation: dianaNoticeRemoving linear 2s both;
}
@keyframes appearingDiana {
    0% {
        background-position: 0%;
    }
    100%{
        background-position: 100%;
    }
}
@keyframes shiningDiana{
    0%{
        background-position: 68.75%;
    }
    100%{
        background-position: 100%;
    }
}
@keyframes dianaQuoteShowing {
    0%{
        opacity: 0%;
    }       
    100%{
        opacity: 100%;
    }
}
@keyframes dianaNoticeRemoving {
    0%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}
