.App.ava {
    --fan: 154, 200, 226;
    --ui-1: 230, 247, 255;
    --ui-2: 186, 231, 255;
    --ui-8: 0, 80, 179;
    --ui-9: 0, 58, 140;
    --ui-10: 0, 39, 102;
    /* --fan:#9AC8E2;
    --ui-1:#e6f7ff;
    --ui-8:#0050b3;
    --ui-9:#003a8c; 
    --ui-10:;*/
}

.App.bella {
    --fan: 219, 125, 116;
    --ui-1: 255, 242, 232;
    --ui-2: 255, 216, 191;
    --ui-8: 173, 33, 2;
    --ui-9: 135, 20, 0;
    --ui-10: 97, 11, 0;
}

.App.diana {
    --fan: 231, 153, 176;
    --ui-1: 255, 240, 246;
    --ui-2: 255, 214, 231;
    --ui-8: 158, 16, 104;
    --ui-9: 120, 6, 80;
    --ui-10: 82, 3, 57;
    /* --fan: #e799b0;
    --ui-1: #fff0f6;
    --ui-2:#ffd6e7
    --ui-8: #9e1068;
    --ui-9: #780650;
    --ui-10: #520339; */
}

.App.eileen {
    --fan: 87, 102, 144;
    --ui-1: 240, 245, 255;
    --ui-2: 214, 228, 255;
    --ui-8: 16, 35, 158;
    --ui-9: 6, 17, 120;
    --ui-10: 3, 8, 82;
}

.App.fiona {
    --fan: 201, 56, 115;
    --ui-1: 255, 240, 243;
    --ui-2: 252, 232, 238;
    --ui-8: 125, 22, 70;
    --ui-9: 87, 11, 49;
    --ui-10: 48, 6, 29;
}

.App.gladys {
    --fan: 114, 82, 192;
    --ui-1: 241, 230, 255;
    --ui-2: 199, 160, 250;
    --ui-8: 55, 38, 115;
    --ui-9: 55, 38, 115;
    --ui-10: 15, 10, 38;
}